
{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
<h1 style="text-align: center; font-family: 'Ultra', serif;">Welcome To Kataret Community Linda Jirani </h1> 
<h5 style="font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;"> Update your Profile to switch the neighbourhood</h5>
<img src="{% static 'img/michal-matlon-5frCCdp8heo-unsplash.jpg' %}" alt="" height="510px" width="100%">


{% endblock %}